* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  @apply font-openSans;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
}
i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
p {
  @apply text-base;
}
input,
textarea,
select {
  @apply w-full border border-accents_4 px-4 py-2 mb-4;
}
button {
  @apply px-8 py-3;
}
.leading-loose {
  line-height: 2 !important;
}
.leading-relaxed {
  line-height: 1.625 !important;
}
.leading-normal {
  line-height: 1.5 !important;
}
.leading-snug {
  line-height: 1.375 !important;
}
.leading-tight {
  line-height: 1.25 !important;
}
.leading-none {
  line-height: 1 !important;
}
