.rounded-1\/2 {
  border-radius: 50%;
}
.left-0\/4 {
  left: 0%;
}
.right-0\/4 {
  right: 0%;
}
.margin-r-0 {
  margin-right: 0 !important;
}
.margin-l-0 {
  margin-left: 0 !important;
}
.body-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.custom-box-shadow {
  box-shadow: 0px 0px 18px 0px rgb(10 27 95 / 10%);
}

.cv_bg_img {
  margin-right: 0px !important;
  margin-left: 0px !important;
  background-image: url('/images/why-us.png') !important;
  background-position: center right !important;
  background-repeat: no-repeat !important;
  background-size: 58% 100% !important;
}
/* .why-us_bg_img {
  margin-right: 0px !important;
  margin-left: 0px !important;
  background-image: url('/images/why-us.png') !important;
  background-repeat: no-repeat !important;
  background-position: -20% 50% !important;
  background-size: contain !important;
} */
.bg-map {
  background-image: url('/images/map.png') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/* .bg-hero {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.28895308123249297) 0%),
    url('/images/hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
} */
.svc-bg-image {
  background: rgb(2, 4, 19);
  background: linear-gradient(
      120deg,
      rgba(2, 4, 19, 0.5) 0%,
      rgba(3, 1, 28, 0.22452731092436973) 100%
    ),
    url('/images/pages-bg-image.jpg');
  background-size: cover;
  background-position: 40% 40%;
}
.menu-svc-arrow::after {
  content: '\2192';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  display: block;
  z-index: 2;
}
.menu-svc-arrow_right::before {
  content: '\2192';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 21px;
  display: block;
  z-index: 2;
}
.read-more__btn::after {
  content: '\2192';
  margin-left: 10px;
  vertical-align: middle;
}
.check-mark::before {
  content: '\2713';
  color: #ff0031;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  z-index: 2;
}

.title-decorated::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  border-bottom: 1px solid;
}
.title-decorated_right::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  border-bottom: 1px solid;
}
.breadcrumb-arr:not(:last-child)::after {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 35%;
  right: -5px;
  font-size: inherit;
  font-style: normal;
  color: #e58c30;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}
.breadcrumb-arr_right:not(:first-child)::after {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 35%;
  left: -5px;
  font-size: inherit;
  font-style: normal;
  color: #e58c30;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-225deg);
}
/* Services top line*/
.svc-inner__line {
  box-shadow: 0px 0px 18px 0px rgb(10 27 95 / 10%);
}
.svc-inner__line::before {
  content: '';
  width: 70%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a253b;
}

/* Accordion Component Style */
.acc_btn::after {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}
.acc_btn[aria-expanded='true']::after,
.acc_btn[aria-selected='true']::after {
  transform: rotate(45deg);
}
/* Accordion Component for Dari Language*/
.acc_btn_right::before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}
.acc_btn_right[aria-expanded='true']::before,
.acc_btn_right[aria-selected='true']::before {
  transform: rotate(45deg);
}
